body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

.infoImg{
    width: 100%;
    height: 100%;
}

.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5%;
}

.slide {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}

.slideImage {
    width: 400px;
    height: 300px;
    border: 2px solid #fff; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s;
}

.slideImage:hover{
    filter: brightness(90%)
}

.slide:hover img {
    transform: scale(1.05); 
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.modal-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
}

.info{
    border: none;
    outline: none;
    background-color: #F9F7F5;
    border-bottom: 1px solid grey;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 5px;
}

#myModal{
   display: flex;
   flex-direction: row;
}

.costumer-info{
width: 50%;
padding-right: 5%;
padding-left: 5%;
}

.roomsHeader {
    background-image: url("../images/bookingHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 378px;
    width: 100%;
    color: white;
    object-fit: cover;
}

.paymentDetails{
    color: gray;
    font-size: 13px;
    position: relative;
    left: 23px;
}

.buttonTotal{
    width: 90%;
}


@media only screen and (max-width: 768px) {

    .info {
        flex-direction: column;
    }

    .getInTouch,
    .image {
        width: 100%;
    }

    .roomsHeader{
        width: 100%;
        height: 50%;
    }

   .slideImage{
    width: 100%;
    height: 100px;
    max-height: 200px;
   }

   .prev,
   .next {
    position: absolute;
    top: 160px;
    width: auto;
    width: 5px;   
}

#myModal{
    display: flex;
    flex-direction: column;
}

.costumer-info{
    width: 90%;
    }

    .modal-content{
        width: 100%;
    }

    .info{
        width: 100%;
    }


    .infoImg{
        width: 100%;
        height: 50%;
    }

    .email-input{
        width: 100%;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
    }
    }

