body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5%;
}

.slide {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}

.slideImage {
    width: 400px;
    height: 300px;
    border: 2px solid #fff; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s;
}

.slideImage:hover{
    filter: brightness(90%)
}

.slide:hover img {
    transform: scale(1.05); 
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.modal-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
}