body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.bold {
    font-weight: bold;
}

#home {
    background-image: url("../images/homeImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 948px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    border-bottom: 2px solid white;
}

.btn {
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid white;
    outline: 0.01px solid white;
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    border-radius: 2rem;
    width: 15rem;
    text-align: center;
}

.btn2 {
    margin-top: 7px;
    display: inline-block;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    border-radius: 2rem;
    width: 15rem;
    text-align: center;
}

.btn3 {
    margin: 7px 0;
    display: inline-block;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px double black;
    padding: 0.5em 0.5em;
    font-size: 1.5rem;
    border-radius: 2rem;
    width: 15rem;
    text-align: center;
}

.btn-arrow span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
}

.btn-arrow svg {
    position: absolute;
    width: 0.9em;
    left: 170px;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
}


.btn-arrow:hover span {
    transform: translateX(-10px);
}

.btn-arrow:hover svg {
    opacity: 1;
    right: 10px;
}

.btn-arrow:hover svg {
    opacity: 1;
}

#intro {
    width: 785px;
    margin: 9em 0em 0em 15em;
    font-size: 20px;
}

#slogan {
    font-weight: 300;
    font-size: 4em;
    margin: unset;
}

#about {
    padding-top: 7em;
    padding-bottom: 10em;
    background-image: url("../images/leaf.png");
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;

}

#about p,
#newspaper p {
    font-size: 1.2em;
    width: 60%;
    margin-left: 20%;
}

#about h1,
#newspaper h2 {
    text-transform: capitalize !important;
    font-weight: 300;
    line-height: 1.2;
    font-weight: 300;
    font-size: 3em;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

footer {
    background-color: #f8f9fa;
    color: #212529;
    height: 450px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 15px;
}

.about,
.quick-links,
.contact,
.social {
    flex: 1;
    padding: 0 10px;
}

.footer-container div h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #000;
}

.footer-container div p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #6c757d;
    margin-bottom: 0.5rem;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 45px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.social-icons a:hover img {
    opacity: 0.7;
}

.quick-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quick-links a {
    text-decoration: none;
    color: black;
    margin: 0px;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
}

.footer-bottom p {
    font-size: 0.875rem;
}

.payment-methods {
    display: inline-flex;
}

.payment-methods img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}



/* check this again */
#elapsed-time {
    color: black;
}


#activities {
    background-color: #F9F7F5;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.col2 {
    flex: 1;
    margin: 0 50px;
    text-align: center;
}

.fa-solid {
    font-size: 45px;
    margin-right: 7px;
    cursor: pointer;
}

.display-5,
.col2 h2,
#news h2,
.fstRow h2 {
    font-weight: 300;
    line-height: 1.2;
    font-size: 3em;
}

.display-header p,
#news p {
    font-size: 1.2em;
    margin-bottom: 45px;
}

.activity {
    flex: 1 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}

#newspaper {
    padding-top: 7em;
    padding-bottom: 7em;
    text-align: center;
    background-image: linear-gradient(to left,#F9F7F5, #ffffff);
}

.email-input {
    border-radius: 30px;
    height: 2.8em;
    display: inline-block;
    width: 36em;
    font-size: 1.2em;
    text-align: center;
    transition: background-color 0.3s ease;
}

.slideshow-container {
    position: relative;
    background: #F9F7F5;
    padding: 7em 0;
}

.mySlides {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100%;
}

.next {
    position: absolute;
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: gray;
    color: white;
}

q {
    font-style: italic;
    font-size: 2em;
}

#engage {
    background-color: #F9F7F5;
    font-size: 1.2em;
}

.col2 .contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.col2 span p,
.col2 h2,
#news h2,
.fstRow h2,
.fstRow p {
    margin: 0;

}

.name,
.email,
.message {
    border: none;
    outline: none;
    background-color: #F9F7F5;
    border-bottom: 1px solid grey;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 15px;
    font-family: 'Kanit', sans-serif;
}

.sect {
    margin: 0 6em;
}

/* check this again */
#news {
    padding: 7em 0;
}

.newsArticles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.articles {
    width: 20%;
    margin-bottom: 20px;
    display: flex;
}


.date {
    font-size: 1.5em;
    margin-right: 10px;
}

/* this up */

#achievements {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.2em;
}

.ach {
    padding: 6em 0;
}

.scndRow {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.achievement {
    display: flex;
    flex-direction: column;
}

.achievement span {
    font-size: 5em;
    line-height: 1;
    transition: box-shadow 0.3s ease-in-out;
}

.achievement span:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.achievement p {
    font-size: 1em;
    margin-top: 10px;
}
