body {
    font-family: 'Open Sans', sans-serif;
}


.roomsHeader{
    background-image: url("../images/roomsHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 378px;
    width: 100%;
    color: white;
    object-fit: cover;
}


.container {
    margin: 0 auto;
    /* padding: 0 1rem; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
}

nav {
    display: flex;
    gap: 1.5rem;
}

button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

main {
    margin-top: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-left: 30px;
    margin-top: 70px;
}

.card img {
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card p {
    margin-bottom: 0.5rem;
}

.card button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    cursor: pointer;
}

.card button:hover {
    background-color: gray;
}

.headerContent{
    line-height: 10px;
    position: relative;
    left: 10%;
    top: 20%;
}
