body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .slideshow-container {
    width: 100%;
    position: relative;
  }
  
  #main-image img {
    width: 100%;
    display: block;
  }
  
  #thumbnail-slider {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .thumbnail {
    width: auto;
    height: 100px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
  }
  
  .thumbnail:active,
  .thumbnail:hover {
    opacity: 0.6;
  }
  
.roomsDetailsHeader {
    background-image: url("../images/roomsHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 470px;
    width: 100%;
    color: white;
    object-fit: cover;
}

.roomDetails{
    display: flex;
    flex-direction: row;
}

.reserve{
    width: 30%;
    border: 1px solid black;
    background-color: #F9F7F5;
    padding-left: 20px;
    margin-right: 20px;
}

.inforeserve{
    border: none;
    outline: none;
    background-color: #F9F7F5;
    border-bottom: 1px solid grey;
    width: 90%;
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 5px;
}

.roomImages{
    width: 80%;
}