body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
  }
  
  .slideshow-container {
    width: 100%;
    position: relative;
    background-color: white;
    margin-bottom: 0;
    padding: 0;
  }
  
  #main-image img {
    width: 100%;
    display: block;
  }
  
  #thumbnail-slider {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .thumbnail {
    width: auto;
    height: 100px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
  }
  
  .thumbnail:active,
  .thumbnail:hover {
    opacity: 0.6;
  }
  
.roomsDetailsHeader {
    background-image: url("../images/roomsHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 470px;
    width: 100%;
    color: white;
    object-fit: cover;
}

.roomDetails{
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.reserve{
    width: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 5%;
    margin-top: 105px;
    height: 90%;
    padding-bottom: 20px;
}

.inforeserve{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    width: 90%;
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 5px;
}

.roomImages{
    width: 80%;
}

.overview-container, .price-details {
    padding: 50px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature-item {
    text-align: center;
    margin: 10px;
  }
  
  .feature-item img {
    width: 50px; /* You can adjust this according to your icon sizes */
    margin-bottom: 5px;
  }
  
  .price-details {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 50px;
  }
  

  .room-details, .features-amenities {
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    
  }
  .room-details{
    padding: 50px;
  }
  
  /* .features-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
   */
  .features-list li {
    margin-bottom: 5px;
  }
  
  .interactive-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }


    .features-amenities {
        /* Styling for the features & amenities section */
        padding: 50px;
      }
      
      .features-amenities h2 {
        /* Styling for the heading */
        margin-bottom: 10px; /* Adjust as needed */
      }
      
     
      .features-list {
        padding: 0; /* Removes default padding */
        list-style: disc; /* Removes list item bullets */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Creates a responsive grid with minimum column width of 150px */
        gap: 10px; /* Adjust the space between items */
      }
      
      .featuresList li {
        padding: 5px 10px; /* Padding inside each list item, adjust as needed */
        border-radius: 5px; /* Rounded corners for the list items */
      }

      .location-container {
        margin-left: 20px;
        padding: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      
      .address-details {
        display: flex;
      }
      
      .address-column2 {
        padding-left: 30px;
      }
      .reviews-container {
        /* max-width: 800px;
        margin: auto; */
        margin-left: 20px;
        padding-left: 50px;
      }
      
     
      .review {
        display: flex;
        align-items: flex-start; /* Aligns the profile pic and review text to the top */
        margin-bottom: 20px;
      }
      
      .profile-pic {
        border-radius: 50%; /* Makes the image round */
        width: 50px; /* Set the size of the profile pic */
        height: 50px;
        margin-right: 10px;
      }
      
      .review-text {
        flex-grow: 1;
      }
      
      .review-author {
        font-weight: bold;
      }
      
      .review-date {
        color: #777;
        margin-left: 5px;
      }
      
      .reply-link {
        color: #007bff;
        text-decoration: none;
        font-size: 0.9em;
      }
      .review-form-container {
        max-width: 60%;
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 5%;
      }
      
      .review-form-container h2 {
        margin-bottom: 5px;
        
      }
      
      .review-form-container p {
        color: #777;
        font-size: 0.9em;
      }
      
      #review-form {
        margin-top: 20px;
      }
      
      #review-form textarea, 
      #review-form input[type="text"], 
      #review-form input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      #review-form .checkbox-container {
        margin-bottom: 20px;
        display: block;
      }
      
      #review-form button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .postButton{
        width: 100%;
      }

      .roomInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
     
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        .roomDetails {
            flex-direction: column;
        }
    
        .reserve, .roomImages {
            width: 100%;
            margin-left: 0;
            padding: 20px;
        }
    
        .price-details, .room-details, .features-amenities, .reviews-container, .review-form-container {
            padding: 10px;
        }
    
        .features {
            flex-direction: column;
        }
    
        .features-amenities .features-list {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        }
    }
    
    /* Media query for mobile devices (e.g., devices with a screen width less than 768px) */
    @media screen and (max-width: 767px) {
        .roomDetails {
            flex-direction: column;
        }
    
        .reserve, .roomImages {
            width: 100%;
            margin-left: 0;
            padding: 15px;
        }
    
        .overview-container, .price-details, .room-details, .features-amenities, .reviews-container, .review-form-container {
            padding: 5px;
        }
    
        .features {
            flex-direction: column;
        }
    
        .features-amenities .features-list {
            grid-template-columns: 1fr;
        }
    
        .address-details {
            flex-direction: column;
        }
    
        .address-column2 {
            padding-left: 0;
        }
    }
    
    /* Adjustments for smaller mobile screens */
    @media screen and (max-width: 480px) {
        .review-form-container {
            max-width: 100%;
            margin-right: 5%;
        }
    
        .review-form-container textarea, 
        .review-form-container input[type="text"], 
        .review-form-container input[type="email"] {
            width: calc(100% - 20px); /* Adjusting width to account for padding */
        }
    }
     
      
      
      
