.servicesHeader {
    background-image: url("../images/servicesHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 378px;
    width: 100%;
    color: white;
    object-fit: cover;
}

.servicesInfo{
    color: gray;
    font-size: 13px;
    line-height: 20px;
    
}

.box{
    padding: 30px;
    margin: 20px;
}

#activities{
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  h2 {
    color: #333;
  }

  .hotelSchedule{
    text-align: center;
  }